name: 'ci'

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

jobs:
 job:
  runs-on: ubuntu-latest
  steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 8
          run_install: true

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Installing deps
        run: pnpm install

      - name: Building
        run: pnpm run build

      - name: Testing
        run: pnpm run test:CI